body {
  margin: 0;
}
.svg {
	// display: none;
}
.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.object {
	display: flex;
	position: absolute;
	margin: -50px 0 0 -50px;
	box-sizing: border-box;
	transform-style: preserve-3d;
	left: 50%;
	top: 50%;
	transform-origin: 50px 50px;
	height: 100px;
	text-align: center;
	background-color: #0863F6;
	
	transform: perspective(900px) rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.element {
	box-sizing: border-box;
	top: 0;
	left: 0%;
	position: absolute;
	transform-origin: 50% 50%;
	height: 100px;
	background-color: #07B8F7;
	opacity: 0.3;
	transform:translateZ(0px);
	transition: all ease 1s;
	// transform: translate3d(150px,0,0) rotate3d(0,0,0,90deg);
}