body {
  margin: 0;
}
.svg {
	display: none;
}
.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.object {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #0863F6;
	
	transform:  perspective(700px) rotate3d(2,1,0,45deg);
}

.element {
	box-sizing: border-box;
	top: 0;
	left: 0%;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #07B8F7;
	opacity: 0.3;
	
	transform-origin: 0%,0%;
	// transform: translate3d(150px,0,0) rotate3d(0,0,0,90deg);
}